<h1>ユーザー名</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.nekos.each do |t| %>
  <%= t.user.name %>
<% end %>


<%= link_to "Neko一覧に戻る", nekos_path %>